# Django settings
SECRET_KEY='Generate a secret key'
DEBUG=True
ALOWED_HOSTS=*

# Email settings
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST_USER='add gmail'
EMAIL_HOST_PASSWORD='add password'
EMAIL_USE_TLS=True

# Postgresql settings
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_pass

# Database settings
ENGINE=django.db.backends.postgresql_psycopg2
NAME='postgres_db'
USER='postgres'
PASSWORD='postgres_pass'
HOST='db'
PORT=5432

